@font-face {
	font-family: 'PostNoBillsJaffna'; 
	src: url(PostNoBillsJaffna-Regular.woff); 
}

@font-face {
	font-family: 'PostNoBillsJaffna bold'; 
	src: url(PostNoBillsJaffna-Bold.woff); 
}

@font-face {
	font-family: 'PostNoBillsJaffna medium'; 
	src: url(PostNoBillsJaffna-Medium.woff); 
}


.footer {
    display: flex;
    width: 1920px;
    height: 50px;
    background-color: rgba(0, 0, 0, 1);
    color: #969696;
    border: 1px solid seashell;
}

.footer__left {
    flex: 1;
    font-family: "PostNoBillsJaffna medium";
    font-style: normal;
    font-size: 12px;
    letter-spacing: 0.10em;
    line-height: 44px;
    align-items: center;
    text-align: center;
    justify-content: center;
    align-content: center;
    justify-content: space-around;
}

.footer__right {
    flex: 1;
    font-family: "PostNoBillsJaffna medium";
    font-style: normal;
    font-size: 12px;
    letter-spacing: 0.10em;
    line-height: 44px;
    align-items: center;
    text-align: center;
    justify-content: center;
    align-content: center;
    justify-content: space-around;
}

a:link, a:active, a:visited {
    color: #969696;
    font-family: "PostNoBillsJaffna medium";
    text-decoration: none;
    cursor: pointer;
    }
