@font-face {
	font-family: 'PTSans'; 
	src: url(./fonts/PTSans-Regular.ttf); 
}

.footer {
    display: flex;
    width: 1920px;
    height: 50px;
    background-color: rgba(0, 0, 0, 1);
    color: #969696;
}

.footer__left {
    flex: 1;
    font-family: "PTSans";
    font-style: normal;
    font-size: 12px;
    letter-spacing: 0.10em;
    line-height: 44px;
    align-items: center;
    text-align: center;
    justify-content: center;
    align-content: center;
    justify-content: space-around;
}

.footer__right {
    flex: 1;
    font-family: "PTSans";
    font-style: normal;
    font-size: 12px;
    letter-spacing: 0.10em;
    line-height: 44px;
    align-items: center;
    text-align: center;
    justify-content: center;
    align-content: center;
    justify-content: space-around;
}

a:link, a:active, a:visited {
    color: #969696;
    font-family: "PTSans";
    text-decoration: underline;
    cursor: pointer;
    }
