@font-face {
	font-family: 'PostNoBillsJaffna'; 
	src: url(PostNoBillsJaffna-Regular.woff); 
}

@font-face {
	font-family: 'PostNoBillsJaffna bold'; 
	src: url(PostNoBillsJaffna-Bold.woff); 
}

@font-face {
	font-family: 'PostNoBillsJaffna medium'; 
	src: url(PostNoBillsJaffna-Medium.woff); 
}

.income-block {
    display: flex;
    width: 1920px;
    height: 1289px;
    background-color: rgba(0, 0, 0, 1);
    color: #ffffff;
    flex-direction: column;
    align-items: center;
}

.income-block__void {
    height: 60px;
    width: 100%;
}

.income-block__lettering {
    display: flex;
    font-size: 42px;
    align-items: center;
    text-align: center;
    font-family: "PostNoBillsJaffna bold";
    text-transform: uppercase;
    color: rgba(255, 255, 255, 1);
}

.income-block__void-underline {
    height: 30px;
    width: 100%;
}

.income-block__line {
    display: flex;
    width: 120px;
    height: 1px;
    align-items: center;
    background-color: rgba(255, 255, 255, 1);
}

.income-block__goods-container {
    display: flex;
    flex-flow: row wrap;
    width: 1155px;
    height: 818px;
    align-items: center;
    text-align: center;
    justify-content: space-around;
}

.income-block__goods-container-brand-1 {
    display: flex;
    width: 260px;
    height: 325px;
    align-items: center;
    text-align: center;
    background: no-repeat center/100% url(clock.png) rgba(25, 27, 28, 1);
    
}

.income-block__goods-container-brand-2 {
    display: flex;
    width: 260px;
    height: 325px;
    align-items: center;
    text-align: center;
    background: no-repeat center/100% url(clock.png) rgba(25, 27, 28, 1);
}

.income-block__goods-container-brand-3 {
    display: flex;
    width: 260px;
    height: 325px;
    align-items: center;
    text-align: center;
    background: no-repeat center/100% url(clock.png) rgba(25, 27, 28, 1);
}

.income-block__goods-container-brand-4 {
    display: flex;
    width: 260px;
    height: 325px;
    align-items: center;
    text-align: center;
    background: no-repeat center/100% url(clock.png) rgba(25, 27, 28, 1);
}

.income-block__goods-container-lettering1 span{
    display: flex;
    width: 260px;
    height: 25px;
    align-items: center;
    text-align: center;
    font-family: "PostNoBillsJaffna light";
    color: rgba(255, 255, 255, 1);
}

.income-block__goods-container-lettering2 span{
    display: flex;
    width: 260px;
    height: 25px;
    align-items: center;
    text-align: center;
    font-family: "PostNoBillsJaffna light";
    color: rgba(255, 255, 255, 1);
}

.income-block__goods-container-lettering3 span{
    display: flex;
    width: 260px;
    height: 25px;
    align-items: center;
    text-align: center;
    font-family: "PostNoBillsJaffna light";
    color: rgba(255, 255, 255, 1);
}

.income-block__goods-container-lettering4 span{
    display: flex;
    width: 260px;
    height: 25px;
    align-items: center;
    text-align: center;
    font-family: "PostNoBillsJaffna light";
    color: rgba(255, 255, 255, 1);
}

.income-block__goods-container-brand-5 {
    display: flex;
    width: 260px;
    height: 325px;
    align-items: center;
    text-align: center;
    background: no-repeat center/100% url(clock.png) rgba(25, 27, 28, 1);
}

.income-block__goods-container-brand-6 {
    display: flex;
    width: 260px;
    height: 325px;
    align-items: center;
    text-align: center;
    background: no-repeat center/100% url(clock.png) rgba(25, 27, 28, 1);
}


.income-block__goods-container-brand-7 {
    display: flex;
    width: 260px;
    height: 325px;
    align-items: center;
    text-align: center;
    background: no-repeat center/100% url(clock.png) rgba(25, 27, 28, 1);
}

.income-block__goods-container-brand-8 {
    display: flex;
    width: 260px;
    height: 325px;
    align-items: center;
    text-align: center;
    background: no-repeat center/100% url(clock.png) rgba(25, 27, 28, 1);
}

.income-block__goods-container-lettering5 span{
    display: flex;
    width: 260px;
    height: 25px;
    align-items: center;
    text-align: center;
    font-family: "PostNoBillsJaffna light";
    color: rgba(255, 255, 255, 1);
}

.income-block__goods-container-lettering6 span{
    display: flex;
    width: 260px;
    height: 25px;
    align-items: center;
    text-align: center;
    font-family: "PostNoBillsJaffna light";
    color: rgba(255, 255, 255, 1);
}

.income-block__goods-container-lettering7 span{
    display: flex;
    width: 260px;
    height: 25px;
    align-items: center;
    text-align: center;
    font-family: "PostNoBillsJaffna light";
    color: rgba(255, 255, 255, 1);
}

.income-block__goods-container-lettering8 span{
    display: flex;
    width: 260px;
    height: 25px;
    align-items: center;
    text-align: center;
    font-family: "PostNoBillsJaffna light";
    color: rgba(255, 255, 255, 1);
}