@font-face {
	font-family: 'PostNoBillsJaffna'; 
	src: url(PostNoBillsJaffna-Regular.woff); 
}

@font-face {
	font-family: 'PostNoBillsJaffna bold'; 
	src: url(PostNoBillsJaffna-Bold.woff); 
}

@font-face {
	font-family: 'PostNoBillsJaffna medium'; 
	src: url(PostNoBillsJaffna-Medium.woff); 
}

.income-block {
    display: flex;
    width: 1920px;
    height: 1289px;
    background-color: rgba(0, 0, 0, 1);
    color: #ffffff;
    flex-direction: column;
    align-items: center;
    border: 1px solid seashell;
}

.income-block__void {
    height: 60px;
    width: 100%;
}

.income-block__lettering {
    display: flex;
    font-size: 42px;
    align-items: center;
    text-align: center;
    font-family: "PostNoBillsJaffna bold";
    text-transform: uppercase;
}

.income-block__void-underline {
    height: 30px;
    width: 100%;
}

.income-block__line {
    display: flex;
    width: 120px;
    height: 1px;
    align-items: center;
    background-color: rgba(255, 255, 255, 1);
}

.income-block__goods-container {
    display: flex;
    //flex-direction: row;
    //flex: wrap;
    flex-flow: row wrap;
    width: 1600px;
    height: 800px;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    border: 1px solid seashell;
}

.income-block__goods-container-brand-1 {
    display: flex;
    flex: 1;

    //flex-direction: row;
    //width: 260px;
    width: 40%;
    //height: 325px;
    height: 40%;
    align-items: center;
    text-align: center;
    background-color: rgba(25, 27, 28, 1);
    background: no-repeat center/100% url(clock.png);
    border: 1px solid seashell;
}

.income-block__goods-container-brand-2 {
    display: flex;
    flex: 1;
    
    //flex-direction: row;
    width: 40%;
    //height: 325px;
    height: 40%;
    align-items: center;
    text-align: center;
    background: no-repeat center/100% url(clock.png);
    border: 1px solid seashell;
}

.income-block__goods-container-brand-3 {
    display: flex;
    flex: 1;
    
    //flex-direction: row;
    width: 40%;
    //height: 325px;
    height: 40%;
    align-items: center;
    text-align: center;
    background: no-repeat center/100% url(clock.png);
    border: 1px solid seashell;
}

.income-block__goods-container-brand-4 {
    display: flex;
    flex: 1;
    
    //flex-direction: row;
    width: 40%;
    //height: 325px;
    height: 40%;
    align-items: center;
    text-align: center;
    background: no-repeat center/100% url(clock.png);
    border: 1px solid seashell;
}

.income-block__goods-container-brand-5 {
    display: flex;
    flex: 1;
    
    //flex-direction: row;
    width: 40%;
    //height: 325px;
    height: 40%;
    align-items: center;
    text-align: center;
    background: no-repeat center/100% url(clock.png);
    border: 1px solid seashell;
}

.income-block__goods-container-brand-6 {
    display: flex;
    flex: 1;
    
    //flex-direction: row;
    width: 260px;
    height: 325px;
    align-items: center;
    text-align: center;
    background: no-repeat center/100% url(clock.png);
    border: 1px solid seashell;
}


.income-block__goods-container-brand-7 {
    display: flex;
    flex: 1;
    
    //flex-direction: row;
    width: 260px;
    height: 325px;
    align-items: center;
    text-align: center;
    background: no-repeat center/100% url(clock.png);
    border: 1px solid seashell;
}

.income-block__goods-container-brand-8 {
    display: flex;
    flex: 1;
    
    //flex-direction: row;
    width: 260px;
    height: 325px;
    align-items: center;
    text-align: center;
    background: no-repeat center/100% url(clock.png);
    border: 1px solid seashell;
}
