@font-face {
	font-family: 'PostNoBillsJaffna'; 
	src: url(./fonts/PostNoBillsJaffna-Regular.woff); 
}

@font-face {
	font-family: 'PostNoBillsJaffna bold'; 
	src: url(./fonts/PostNoBillsJaffna-Bold.woff); 
}

@font-face {
	font-family: 'PostNoBillsJaffna medium'; 
	src: url(./fonts/PostNoBillsJaffna-Medium.woff); 
}

@font-face {
	font-family: 'PTSans'; 
	src: url(./fonts/PTSans-Regular.ttf); 
}

.login-bar {
    display: flex;
    width: 1920px;
    height: 44px;
    background-color: rgba(0, 0, 0, 1);
    color: #969696;
}

.login-bar__brick {
    width: 400px;
    height: 43px;
}


.login-bar__phone-pic {
    background: no-repeat right/100% url(phone.png);
    background-size: 14px 14px;
}

.login-bar__delimiter-pic-text {
    width: 17px;
    height: 43px;
}

.login__bar-workday {
    display: flex;
    height: 44px;
    font-family: "PTSans";
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 0.10em;
    line-height: 44px;
    align-items: center;
    text-align: left;
    justify-content: center;
    align-content: center;
    justify-content: space-around;
}

.login-bar__delimiter-text {
    width: 17px;
    height: 15px;
}

.login-bar__delimiter-text-exit-pic {
    width: 640px;
    height: 43px;
}

.login-bar__exit-pic button{
    display: flex;
    margin-top: 13px;
    background: no-repeat center/100% url(exit.png);
    width: 14px;
    height: 18px;
    justify-content: flex-end; 
    align-items: center;
    flex-direction: row;
    cursor: pointer;
    border: none;
}

.login-bar__buttons {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
}

.login-bar__buttons button{
    width: 140px;
    height: 18px;
    font-family: "PTSans";
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 0.10em;
    text-align: center;
    align-content: center;
    justify-content: space-around;
    text-transform: uppercase;
    border: none;
    background: transparent;
    cursor: pointer;
    color: #969696;
}

.login-bar__buttons button:hover {
    color: rgba(255, 255, 255, 1);
}
