.login__bar-phone-pic {
    background: no-repeat center/110% url(phone.png);
}

.login__bar-phone-text {
    left: 8.33%;
    right: 8.17%;
    top: 8.33%;
    bottom: 8.33%;
    
    //background: #969696;
    color: #969696;
}

.login__bar-worktime {
    color: #969696;
}

.login__bar-search {

}

.login__bar-login {
    color: #969696;
}

.login__bar-register {
    color: #969696;
}