@font-face {
	font-family: 'PostNoBillsJaffna'; 
	src: url(./fonts/PostNoBillsJaffna-Regular.woff); 
}

@font-face {
	font-family: 'PostNoBillsJaffna bold'; 
	src: url(./fonts/PostNoBillsJaffna-Bold.woff); 
}

@font-face {
	font-family: 'PostNoBillsJaffna medium'; 
	src: url(./fonts/PostNoBillsJaffna-Medium.woff); 
}

@font-face {
	font-family: 'PTSans'; 
	src: url(./fonts/PTSans-Regular.ttf); 
}

.menu-bar {
    display: flex;
    width: 1920px;
    height: 80px;
    background-color: rgba(15, 15, 15, 1);
    color: #969696;
}

.menu-bar__brick {
    width: 384px;
    height: 80px;
}

.menu-bar__porten {
    color: #ffffff;
    display: flex;
    font-family: "PostNoBillsJaffna bold";
    text-transform: uppercase;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    letter-spacing: 0.15em;
    line-height: 44px;
    align-items: center;
    text-align: center;
}

.menu-bar__buttons {
    display: flex;
    font-family: "PTSans";
    font-style: normal;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.10em;
    line-height: 44px;
    align-items: center;
    text-align: center;
    justify-content: center;
    align-content: center;
}

.menu-bar__buttons button{
    display: flex;
    flex-wrap: row nowrap;
    align-content: center;
    flex-direction: row;
    letter-spacing: 0.10em;
    text-align: center;
    text-transform: uppercase;
    width: 136px;
    height: 80px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: transparent;
    border: none;
    color: #969696;
}

.menu-bar__buttons button:hover {
    color: rgba(255, 255, 255, 1);
    background: rgba(60, 60, 60, 0.9);
    border: 1px solid rgba(255, 255, 255, 1);
}

.menu-bar__search {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.menu-bar__search-cart {
    display: flex;
    width: 136px;
    height: 80px;
    background: no-repeat center url(cart.png);
    border: none;
}

.menu-bar__search-search {
    display: flex;
    width: 136px;
    height: 80px;
    background: no-repeat center url(search.png);
    border: none;
}

.menu-bar__search button:hover {
    border: 1px solid rgba(255, 255, 255, 1);
    background: rgba(60, 60, 60, 0.9);
}
