@font-face {
	font-family: 'PlayfairDisplay'; 
	src: url(./fonts/PlayfairDisplay-VariableFont_wght.ttf); 
}

.our-brand {
    display: flex;
    flex-direction: column;
    width: 1920px;
    height: 362px;
    background-color: rgba(15, 15, 15, 1);
    align-items: center;
    justify-content: center;
}

.our-brand__lettering {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 289px;
    height: 48px;
    top: 60px;
    line-height: 36px;
    font-family: "PlayfairDisplay";
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    text-align: center;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 1);
}

.our-brand__line {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 2px;
    background-color: rgba(255, 255, 255, 1);
}

.our-brand__void-underline {
    display: flex;
    height: 40px;
    width: 100%;
}

.our-brand__line-up {
    height: 72px;
    border: 1px solid seashell;
}


.our-brand__brand {
    display: flex;
    
    justify-content: center;
    align-items: center;
    flex-direction: row;
    align-items: stretch;
    height: 120px;
    width: 1220px;
}

.our-brand__brand-brand-1 {
    flex: 1;
    width: 255px;
    height: 80px;
    background: no-repeat center/90% url(brand_coco.png);
}

.our-brand__brand-brand-2 {
    flex: 1;
    width: 255px;
    height: 80px;
    background: no-repeat center/90% url(brand_coco.png);
}

.our-brand__brand-brand-3 {
    flex: 1;
    width: 255px;
    height: 80px;
    background: no-repeat center/90% url(brand_coco.png);
}

.our-brand__brand-brand-4 {
    flex: 1;
    width: 255px;
    height: 80px;
    background: no-repeat center/90% url(brand_coco.png);
}