@font-face {
	font-family: 'PostNoBillsJaffna'; 
	src: url(PostNoBillsJaffna-Regular.woff); 
}

@font-face {
	font-family: 'PostNoBillsJaffna bold'; 
	src: url(PostNoBillsJaffna-Bold.woff); 
}

@font-face {
	font-family: 'PostNoBillsJaffna medium'; 
	src: url(PostNoBillsJaffna-Medium.woff); 
}

@font-face {
	font-family: 'PostNoBillsJaffna light'; 
	src: url(PostNoBillsJaffna-Light.woff); 
}

.season-block {
    display: flex;
    width: 1920px;
    height: 730px;
    color: #ffffff;
}

.season-block__left {
    display: flex;
    position: absolute;
    width: 1040px;
    height: 730px;
    background-color: rgba(0, 0, 0, 1);
    flex-direction: row;
}

.season-block__left-lettering {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    width: 250px;
    height: 39px;
    top: 93px;
    left: 390px;
    font-family: "PostNoBillsJaffna bold";
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    text-align: center;
    text-transform: uppercase;
    justify-content: center;
    align-content: center;
    color: #FFFFFF;
    border: 1px solid seashell;
}

.season-block__left-lettering-date {
    display: flex;
    font-family: "PostNoBillsJaffna bold";
    font-weight: bold;
    font-size: 24px;
    line-height: 50px;
    text-align: center;
    padding: 1%;
}

.season-block__left-line {
    position: absolute;
    display: flex;
    top: 182px;
    left: 460px;
    width: 120px;
    height: 1px;
    background-color: rgba(255, 255, 255, 1);
}

.season-block__left-photo-base {
    position: absolute;
    display: flex;
    width: 880px;
    height: 325px;
    top: 232px;
    left: 80px;
    justify-content: space-around;
    align-items: stretch;
    flex-direction: row;
}

.season-block__left-photo-1 {
    display: flex;
    width: 260px;
    height: 325px;
    background: no-repeat center/100% url(clock.png) rgba(25, 27, 28, 1);
}

.season-block__left-photo-2 {
    display: flex;
    width: 260px;
    height: 325px;
    background: no-repeat center/100% url(clock.png) rgba(25, 27, 28, 1);
}

.season-block__left-photo-3 {
    display: flex;
    width: 260px;
    height: 325px;
    background: no-repeat center/100% url(clock.png) rgba(25, 27, 28, 1);
}

.season-block__left-photo-lettering {
    position: absolute;
    display: flex;
    width: 880px;
    top: 582px;
    left: 80px;
    align-items: stretch;
}

.season-block__left-photo-1-lettering {
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 50px;
    width: 300px;
    margin: 0 0 10px 10px;
    font-family: "PostNoBillsJaffna light";
    color: #FFFFFF;
}

.season-block__left-photo-1-lettering span {
    padding: 2%;
}

.season-block__left-photo-2-lettering {
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 50px;
    width: 300px;
    margin: 0 0 10px 16px;
    font-family: "PostNoBillsJaffna light";
    color: #FFFFFF;
}

.season-block__left-photo-2-lettering span {
    padding: 2%;
}

.season-block__left-photo-3-lettering {
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 50px;
    width: 300px;
    margin: 0 0 10px 16px;
    font-family: "PostNoBillsJaffna light";
    color: #FFFFFF;
}

.season-block__left-photo-3-lettering span {
    padding: 2%;
}

.season-block__right {
    display: flex;
    position: absolute;
    width: 880px;
    height: 730px;
    left: 1040px;
    background: no-repeat center/100% url(waiting_men.jpg);
}

.season-block__right-lettering {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    width: 376px;
    height: 39px;
    top: 484px;
    left: 252px;
    font-family: "PostNoBillsJaffna bold";
    font-style: normal;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    font-size: 36px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 1);
}

.season-block__right-line {
    position: absolute;
    display: flex;
    top: 553px;
    left: 381px;
    width: 120px;
    height: 1px;
    background-color: rgba(255, 255, 255, 1);
}

.season-block__right-button button{
    position: absolute;
    top: 580px;
    left: 361px;
    vertical-align: middle;
    text-align: center;
    width: 160px;
    height: 50px;
    font-size: 28px;
    line-height: 40px;
    font-family: "PostNoBillsJaffna light";
    font-weight: lighter;
    font-size: 20px;
    text-transform: uppercase;
    border: 1px solid rgba(255, 255, 255, 1);
    color: rgba(255, 255, 255, 1);
    background: transparent;
    cursor: pointer;
}